@charset "utf-8";


@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -.4px;
    white-space: normal;
    word-break: break-all;
}

article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section {
    display: block;
}

body {
    font: normal .75em/130% 'Noto Sans KR', '돋움', Dotum, Helvetica, Verdana, Arial, sans-serif;
    color: #777;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

strong {
    font-weight: 800;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    overflow: visible;
    cursor: pointer;
    line-height: 1;
    outline: none;
}

a:link,
a:visited,
a:hover,
a,
active,
a:focus {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

legend,
caption {
    display: none;
}

textarea {
    resize: vertical;
    font: inherit;
    overflow-y: auto;
    white-space: normal;
    word-break: break-all;
}

input,
select {
    color: inherit;
    font: inherit;
    vertical-align: middle;
}

input::placeholder {
    color: #ccc;
}

address,
i {
    font-style: normal;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

img,
select,
input,
button {
    vertical-align: middle;
}

em {
    font-style: normal;
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url("../images/common/select.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 13px 11px;
}

select::-ms-expand {
    display: none
}

/*  ie  */